
	.item
	{
	  border-radius: 10px;
	  border: 1px solid #aaa;
	  padding: 5px;
	  margin: 5px;
	  width: 173px;
	  height: 173px;
	  position: relative;
	  cursor: pointer;
      display: inline-block;
	}

	.item_image
	{
		max-width: 100%;
		max-height: 100%;
	}

	.item_title
	{
	  position: absolute;
	  bottom: 8px;
	  font-size: 18px;
	}
	
	
	.item_quantity 
	{
	  position: absolute;
	  bottom: 8px;
	  right: 8px;
	  font-size: 18px;
	}

    .user_pfp
    {
        height: 40px;
        border-radius: 50%;
        display: inline-block;
    }

    .user_username
    {
        display: inline-block;
        vertical-align: middle;
    }


    .tumblr_post
    {
        border-bottom: solid 1.5px;
        margin-bottom: 10px;
    }