
	.item
	{
	  border-radius: 10px;
	  border: 1px solid #aaa;
	  padding: 5px;
	  margin: 5px;
	  width: 173px;
	  height: 173px;
	  position: relative;
	  cursor: pointer;
      display: inline-block;
	}

	.item_image
	{
		max-width: 100%;
		max-height: 100%;
	}

	.item_title
	{
	  position: absolute;
	  bottom: 8px;
	  font-size: 18px;
	}
	
	
	.item_quantity 
	{
	  position: absolute;
	  bottom: 8px;
	  right: 8px;
	  font-size: 18px;
	}

    .user_pfp
    {
        height: 40px;
        border-radius: 50%;
        display: inline-block;
    }

    .user_username
    {
        display: inline-block;
        vertical-align: middle;
    }


    .tumblr_post
    {
        /*border-bottom: solid 1.5px;*/
		padding: 10px;
		padding-top: 20px;
		border: solid 1px;
		margin-bottom: 30px;
		box-shadow: 12px 12px 2px 1px rgba(113, 204, 88, .2);
    }

	.post_link
	{
		margin-bottom: 10px;
	}

	.dev_image
    {
        height: 200px;
        width: 200px;
		border-radius: 50%;
		margin-right: 20px;
        display: inline-block;
        object-fit: cover;
    }

	.dev_name
	{
		display: inline;
		margin-bottom: 40px;
	}

	.dev_blurb
	{
        horiz-align: center;
		vertical-align: middle;
		display: inline;
	}

	.dev_profile
	{
		display: block;
		height: 200px;
		margin-bottom: 40px;
		margin-left: 50px;
		margin-right: 50px;
	}

	.dev_desc
	{
		font-size: 16px;
		font-weight: 300;
	}

	.pull-left
	{
		float: left !important;
	}

	.team_page
	{
		margin-top: 40px;
	}

	.about_subheading
	{
		font-size: 20px;
	}