{% extends "template.html" %} {% block title %}About{% endblock %}
{% block account_handler %}
{% if display_name%}
    <ul>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Your profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Sign out</a>
        </div>
      </div>
  </ul>
    {% else %}
    <a class="nav-link" href="/login">Log in</a>
    <a class="nav-link" href="/register">Sign up</a>
{% endif %}
{% endblock %}
{% block content %}
    <h3 align="center" style="margin: 30px">About Us</h3>
    <div>
        <p class="about_subheading" align="center">Our mission is to create tools that help ease the shopping process in everyone’s household.</p>
        <p>
            Our application, Cartiv, is a collaborative shopping list built to help multiple users sharing a living
            space to easily communicate with each other their grocery needs. This application was developed over the
            course of three months for San Jose State University’s CS 160 class, Software Engineering. The requirement
            for our application was to develop a tool that utilizes a full-stack architecture, featuring both a
            dedicated back-end service and a front-end interface for users.
        </p>
        <p>
            Currently, our product is in the early stages of development. If you would like to see our recent updates
            for this project, please <a href="https://cartivblog.tumblr.com/">visit our blog!</a>
        </p>
    </div>
{% endblock %}