{% extends "template.html" %} {% block title %}Cartiv App{% endblock %}
{% block account_handler %}
{% if display_name%}
    <ul>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Your profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Sign out</a>
        </div>
      </div>
  </ul>
    {% else %}
    <a class="nav-link" href="/login">Log in</a>
    <a class="nav-link" href="/register">Sign up</a>
{% endif %}
{% endblock %}

{% block content %}
    <h3 align="center">Welcome to Cartiv!</h3>
    {% if display_name %}
      <p>Hello {{ display_name }}!</p>
    {% endif %}

    {% if group_exist %}
        <p>You currently do not have a group. Please either make one or join one!</p>
    <form action="/make_group" method="post">
        <h3>Make a group</h3>
    <div class = "form-group">
      <label for="group_name">Group Name</label>
      <input type="text" id="group_name" name="group_name" placeholder="{{ display_name }}'s Group">
      <button type="submit" value="Submit!">Make Group</button>
    </div>
    </form>

    <form action="/join_group" method="post">
    <h3>Join a group</h3>
      <label for="group_id">Group Id</label>
      <input type="number" id="group_id" name="group_id">
      <button type="submit" value="Submit!">Join A Group</button>
    </form>

    {% else %}

    <div id="addable_items">
    Addable Items
    </div>

    <div id="group_items">
    Current Group's Items
    </div>

    <script type="text/javascript" src="/static/app.js"></script>

    <!---
    <table>
    <thead>
        <tr>
            <th>Groups</th>
        </tr>
    </thead>

    <tbody>
    {% for group_name in group_list %}
    <tr>
        <td><a href="/group/{{ group_name }}"> {{ group_name }} </a></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <br /> <br/>
    <a href="/make_group">Add groups</a>
    {% endif %}
    -->

{% endblock %}
