{% extends "template.html" %} {% block title %}Cartiv App{% endblock %}
{% block account_handler %}
{% if display_name%}
    <ul>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Sign out</a>
        </div>
      </div>
  </ul>
    {% else %}
    <a class="nav-link" href="/login">Log in</a>
    <a class="nav-link" href="/register">Sign up</a>
{% endif %}
{% endblock %}

{% block content %}
    {% if group_id is not defined %}

    <h3 align="center">Welcome to Cartiv!</h3>
    <p>Hello {{ display_name }}!</p>

    <p>You currently do not have a group. Please either make one or join one!</p>
    <style>
        .option_wrapper
        {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 300px;
            border: 1px solid #ddd;
            border-radius: 8px;
            margin: 0 10px 0 10px;
        }

    </style>
      <div class="row">
        <div class="col-md option_wrapper" style="text-align: center;">
            <form action="/make_group" method="post">
                <h3>Make a group</h3>
                <div class="form-group">
                    <label for="group_name">Group Name</label>
                    <input type="text" class="form-control" id="group_name" name="group_name" placeholder="{{ display_name }}'s Group">
                    <button type="submit" class="btn btn-primary" style="margin-top: 6px" value="Submit!">Make New Group</button>
                </div>
            </form>
        </div>
        <div class="col-md option_wrapper" style="text-align: center;">
            <form action="/join_group" method="post">
                <h3>Join a group</h3>
                <label for="group_id">Group Id</label>
                <input type="number" class="form-control" id="group_id" name="group_id">
                <button type="submit" class="btn btn-primary" style="margin-top: 6px" value="Submit!">Join Group</button>
            </form>
        </div>
      </div>



    {% else %}
    <p>
        Welcome to <strong>{{group_name}}</strong> (group id: <strong>{{group_id}}</strong>)
    </p>

    {% for member in group_members %}
    <div>
        <img class="user_pfp" src="{{ member['pfp_url'] }}"/>
        <div class="user_username">{{ member["username"] }}</div>
    </div>
    {% endfor %}

    <button id="notifyUsersButton" class="btn btn-warning">
        <i class="bi bi-bell"></i>Notify Users I'm going shopping!
    </button>

    <div id="addable_items">
        <h3>Addable Items</h3>
    </div>

    <div id="group_items">
        <h3>Current Group's Items</h3>
    </div>

    <script type="text/javascript" src="/static/app.js"></script>

    <script>
        window.onload = function()
        {
            document.getElementById('notifyUsersButton').onclick = function() {
                fetch("/notifyUsers", {method: 'POST'})
            }
        }
    </script>

    <!---
    <table>
    <thead>
        <tr>
            <th>Groups</th>
        </tr>
    </thead>

    <tbody>
    {% for group_name in group_list %}
    <tr>
        <td><a href="/group/{{ group_name }}"> {{ group_name }} </a></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <br /> <br/>
    <a href="/make_group">Add groups</a>
    -->


    {% endif %}

{% endblock %}
