{% extends "template.html" %} {% block title %}Team{% endblock %}
{% block account_handler %}
{% if display_name%}
    <ul>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Your profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Sign out</a>
        </div>
      </div>
  </ul>
    {% else %}
    <a class="nav-link" href="/login">Log in</a>
    <a class="nav-link" href="/register">Sign up</a>
{% endif %}
{% endblock %}

{% block content %}
    <h3 align="center">Learn more about our team!</h3>
    <div>
        <div>
            <img class = "team_page_image pull-left" src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Vintage_Flower_illustration_by_Pierre-Joseph_Redout%C3%A9%2C_digitally_enhanced_by_rawpixel_20.jpg" alt="Plant Illustration">
            <h1 class="dev_name">Omri Gideoni</h1>
            <p>Omri is a programmer!</p>
        </div>

        <div>
            <img class = "team_page_image pull-left" src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pd56batch7-151-nap.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=144c591bbee8af1eb05d5ee6fab387a0" alt="Plant Illustration">
            <h1 class="dev_name">Jessie Lyu</h1>
            <p>Jessie is a programmer!</p>
        </div>

        <div>
            <img class = "team_page_image pull-left" src="https://p2.piqsels.com/preview/707/254/387/soil-roots-minimalist-grow.jpg" alt="Plant Illustration">
            <h1 class="dev_name">Neeha Kandikattu</h1>
            <p>Neeha is a programmer!</p>
        </div>
    </div>
{% endblock %}
<!--see: https://www.w3schools.com/howto/howto_css_team.asp-->